.skoring {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 14px 17px;
  background: #e31e24;
  border-radius: 5px;
  margin-left: 11px;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.skoring:hover {
  border: 1px solid #e31e24;
  color: #e31e24;
  background-color: #fff;
}
header {
  position: fixed;
  z-index: 345;
  background-color: #fff;
  height: 70px;
  overflow: hidden;
  // box-shadow: 0px 22px 40px 3px rgba(0, 0, 0, 0.27);
  // -webkit-box-shadow: 0px 22px 40px 3px rgba(0, 0, 0, 0.27);
  // -moz-box-shadow: 0px 22px 40px 3px rgba(0, 0, 0, 0.27);
  // border-bottom-left-radius: 40px;
  // border-bottom-right-radius: 40px;
}
