.mySwiper2:nth-child(1){
    border-radius: 30px;
}
.mySwiper2:nth-child(2){
    border-radius: 30px;
}.mySwiper2:nth-child(3){
    border-radius: 30px;
}
.mySwiper2:nth-child(4){
    border-radius: 30px;
}
.mySwiper2:nth-child(5){
    border-radius: 30px;
}
.mySwiper2:nth-child(6){
    border-radius: 30px;
}
.swippp:nth-child(-n +1){
    border-radius: 30px;
}